.main-container {
  width:100%;
  padding-top:2%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.movie {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100px;
  width: 100px;
  background-color: red;
  margin: 20px;
  
}


.piano-container {
  display:flex;
  justify-content:center;
  width:600px;
  height:10px;
}

.display {
  position:absolute;
  width: 400px;
  height:100px;
  background-color:lightgrey;
  border: 2px black solid;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#display-text {
  font-size: 40px;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}


.number-keys-container {
  margin-top:100px;
  width:550px;
  height:10px;
  display:flex;
  justify-content:center;
}

.number-key {
  margin-top:15px;
  width: 9.5%;
  height: 220px;
  background-color: white;
  float:left;
}

.operator-keys-container {
  position:absolute;
  margin-top:115px;
  width:550px;
  height:10px;;
  display:flex;
  justify-content:left;
  padding-left:60px;
}

.operator-key {
  margin-top: 0px;
  width:8%;
  height:150px;
  background-color:black;
  margin-right:6px;
}


.hidden {
  visibility:hidden;
}

.inactive {
  pointer-events: none !important;
}
